{% extends 'layouts/default.html' %}

{% block content %}

    <div class="ui container">
        <div class="ui row">
            <div class="column 12">
                <h4>Available Polls...</h4>

                <div class="ui divided items">
                    {% for poll in polls %}
                      <div class="item">
                        <div class="ui tiny image">
                          <img src="http://faker.im/250x250">
                        </div>
                        <div class="middle aligned content">
                            <a href="{% url "question" poll.id %}">{{ poll.name }}</a>
                            <br>
                            <span>Created by - {{ poll.user }}</span>
                        </div>
                      </div>
                    {% endfor %}
                </div>

                <div class="ui mini pagination menu">
                    {% if polls.has_previous %}
                        <a  class="active item" href="?page={{ polls.previous_page_number }}">previous</a>
                    {% endif %}

                    <div class="disable item">
                        Page {{ polls.number }} of {{ polls.paginator.num_pages }}
                    </div>

                    {% if polls.has_next %}
                        <a class="item"  href="?page={{ polls.next_page_number }}">next</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}